.AccountMenu {float: right;
  padding-left: .6rem;
padding-right: .5rem;}

.aligning {
  font-family: Arial;
  font-size: 15px;
  text-align: right;
}

.settings {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  background-color: #f6f7f8;
}

.btn-container {
  text-align: center;
  padding-top: 20px;
}

.btn-container a:hover {
  color: blue;
}

.report-padding {
  padding-top: 20px;
  padding-left: 80px;

}

.form-container {
  border: 1px solid grey;
  background-color: white;
  margin: auto;
}

.apt-container {
  background-color: white;
  height: 300px;
  position: relative;
  top: 50px;
}

.apt-container p {
  margin-left: 50px;
}

header {
  padding: 10px;
  background-color: lightblue;}

table {
  background-color: white;
  width: 100%;
}

th {
  padding: 15px;
  text-align: center;
  background-color: lightblue;
}

td{
  padding: 5px 0px 5px;
  text-align: center;
  border: 1px solid lightgrey;
  border-right: hidden;
}

tr:hover{
background-color:lightgrey;
cursor:pointer;
}

h1 {
  padding-left: 20px;
  color: white;
  font-weight: bold;
  display: inline;
}

h2 {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 15px;
  height: 60px;
  background-color: lightblue;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
}
nav {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 20px;
}

nav a:link {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }

button {
  text-align: center;
  height: 40px;
  width: 20%;
  border-radius: 6px;
  border: none;
  background-color: #3eb6c1;
  color: white;
}

button:active{
  border: 3px solid lightblue;
  border-radius: 6px;
}
#searchButton{
  width: 5%;
}
.search-container {
  padding-top: 30px;
  text-align: center;
}

.search-container input[type=text]{
  width: 600px;
}

.search-container button {
  padding: 1px 3px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
}

.report-container {
    height: 300px;
    border: 2px solid lightgrey;
    background-color: white;
    margin-left: 180px;
    margin-right: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.login-container {
  margin-left: 500px;
  margin-right: 500px;
}

.padding {
  margin-left: 50px;
  margin-right: 50px;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
}


.p-container {
  width: 50%;
  margin-top: 50px;
  margin-left: 50px;
  background-color: white;
  height: 300px;
  border: 1px solid lightgrey;
}

.pTable {
  background-color: lightblue;
  width: 100%;
  border-collapse: collapse;
}

.hidden {
  border-right:hidden;
}

.border-change {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.buttons {
  text-align: center;
  height: 50px;
}

#viewBtn {
  height: 31px;
  border: none;
  background-color: #3eb6c1;
  width: 150px;
  border-radius: 4px;
}

#viewBtn:hover {
  background-color: #2e878f;
}

#pt {
  text-align: left;
  padding: 10px;
}

#form {
  padding: 40px;
}

.loginBtn {
  position: relative;
  top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #3eb6c1;
}

button:hover {
  background-color: #2e878f;
}

.loginBtn a {
  color: white;
}

.p-row {
  padding: 12px;
  text-align: left;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

a:link {
  text-decoration: none;
}

#filterButton{
  margin-left: 180px;
  margin-right: 180px;
  width: 5%;
  margin-bottom: .1rem;
}

.filterIcon svg{ width:1em;
height:1em;
viewBox:0 0 16 16;
fill:currentColor;
xmlns:"http://www.w3.org/2000/svg"}


#filterButton1 {
  float: right;
  position: relative;
  height: 31px;
  bottom: 31px;
  right: 200px;
  width: 5%;
}

.filterIcon1 svg{
  width:1em;
  height:1em;
  viewBox: 0 0 16 16;
  fill:currentColor;
  xmlns:"http://www.w3.org/2000/svg"}
/* The Modal (background) */

#filterButton2 {
  position: relative;
  float: right;
  height: 31px;
  top: 19px;
  right: 710px;
  width: 5%;
}

.filterIcon2 svg{
  width:1em;
  height:1em;
  viewBox: 0 0 16 16;
  fill:currentColor;
  xmlns:"http://www.w3.org/2000/svg"}
/* The Modal (background) */

.pReport {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.filterModal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

#ManagerMenuItems{padding-bottom:5rem;}

.card{width:18rem;}

.card-img-top{
  height: 37%;
  width:50%;
  margin-left: 25%;
  margin-top: 5%;
}

.tableSortPointers{
  height:.7em;
  width:.7em;
}
