.AccountMenu {
  float: right;
  padding: 10px;
  background-color: lightblue;
}

.settings {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  background-color: #f6f7f8;
}

.p-container {
  width: 50%;
  margin-left: 20px;
  background-color: white;
  height: 300px;
  border: 1px solid lightgrey;
}

.pTable {
  background-color: lightblue;
  width: 100%;
  border-collapse: collapse;
}

.hidden {
  border-right:hidden;
}

.border-change {
  border-collapse: separate;
  border-spacing: 0 15px;
    width: 100%;
}

h1 {
  padding-left: 20px;
  color: white;
  font-weight: bold;
  display: inline;
}

header {
  padding: 10px;
  background-color: lightblue;
}

nav {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 50px;
}

nav a:link {
  text-decoration: none;
}

#pt {
  text-align: left;
  padding: 10px;
}

.p-row {
  padding: 10px;
  text-align: left;
  border: 1px solid lightgrey;
}

td:hover{
background-color:lightgrey;
cursor:pointer;
}
